@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap);
body{

    margin: 0;

}

#high, h1 {
    font-family: 'Poppins', sans-serif;
    color: blue;
    padding-left: 10px;
}



.job-title {
    padding-left: 10px;
    background-color: blue;
    color:aliceblue;
    font-size: 30px;
}

footer{
    padding-left: 10px;
    background-color: black;
    color: aliceblue;
}

li{
    list-style-type: none;
}

